
h1
{
    color:white;
    text-align: center;
}



/* MOBILE LAYOUT */

.wrapper
{
    display:grid;
    grid-template-columns:1fr;
    grid-template-rows: repeat(9,450px);
    grid-gap:5px;
   grid-template-areas: 
    "header"
    "about-us"
    "services-container"
    "products-container"
    "gallery-container"
    "testimony-container"
    "contact-container"
    "horario-container"
    "footer";
}

.header
{
    grid-area:header;
    border:2px solid red;
    background:url("img/background.jpg");
    background-repeat: no-repeat;
    background-size:cover;
   
    

}
.about-us
{
    grid-area:about-us;
    background:green;
}
.services-container
{
    grid-area:services-container;
    background:black;
}
.products-container
{
    grid-area:products-container;
    background:blue;
}
.gallery-container
{
 grid-area:gallery-container;
 background:pink;
}
.testimony-container
{
    grid-area:testimony-container;
    background:yellow;
}
.contact-container
{
    grid-area:contact-container;
    background:purple;
}
.horario-container
{
    grid-area:horario-container;
    background:brown;
}
.footer
{
    grid-area:footer;
    background:#e75aa1;
}
